h2{
    font-size: 30px;
    position: relative;
    top: 30px;
    color: grey;
    font-style: normal;
}
#pic{
    height: 50px;
    width: 50px;
    position: relative;
    right: -500px;
    top: 30px;
    display: inline-block;
    /* padding: 50px;  */
}
#test{
    height: 300px;
    width: 300px;
    display: inline-block;
}

h2{
text-shadow: 0px 3px 13px rgba(0,0,0,.4);
}

h3{
    font-size: 18px;

}
h5{
    font-size: 9px;
}
h6{
    font-size: 15px;
    color:#f2b6e7;
}
h1{
    font-size: 34px;
}
h1:hover{
   color: #5b85c9; 
}