h2{
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 30px;
    color: grey;
    font-style: Arial;
}
#pic{
    height: 50px;
    width: 50px;
    position: relative;
    right: -500px;
    top: 30px;
    display: inline-block;
    /* padding: 50px;  */
}
#test{
    height: 300px;
    width: 300px;
    display: inline-block;
}

h2{
margin-left: 80PX;
text-shadow: 0px 3px 13px rgba(0,0,0,.4);
position: relative;
right: 430px;
}

h3{
   margin-left: 10px;
    font-size: 18px;

}
h5{
    margin-left: 12px;
    font-size: 9px;
}
h6{
    margin-left: 10px;
    font-size: 15px;
    color:#f2b6e7;
}
h1{
    margin-left: 10px;
    font-size: 34px;
}
h1:hover{
   color: #5b85c9; 
}
h7{
    font-size: 15px;
    color:#b2b3af;
}
#box{
    height: 500px;
    width: 700px;
    background-color: #696b6e;
}
#text{
    font-size: 70px;
    font-style: oblique;
    position: relative;
    top: 70px;
    color:#dfe2e8;
}

#cheese{
    height:310px;
    width:380px;
    position: relative;
    top: -10px;
    right:-40px;
}
h7{
    margin-left: 10px;
}
#choco{
    height:310px;
    width:360px;
    position: relative;
    top:-10px;
    right:310px;
}
h8{
    font-style:oblique;
    font-size:28px;
    margin-left:-30px;
    position:relative;
    top: 9px;
    right:300px;
    color:#aeb2b8
}
h9{
    font-style:oblique;
    font-size:15px;
    /* margin-left:-30px; */
    position:relative;
    top: 30px;
    right:565px;
    color:#d7d9db
}
#smores{
    position: relative;
    left:399px;
    bottom: 40px;
    font-size:28px;
    color:#aeb2b8;
}
#smores:hover{
    transform: translate(10, 10);
}

#cheesecake{
    position: relative;
    left:399px;
    bottom: 74px;
    font-size:15px;
    color:#d7d9db;
}