h2{
    font-size: 30px;
    position: relative;
    top: 30px;
    color: grey;
    font-style: normal;
}
#pic{
    height: 50px;
    width: 50px;
    position: relative;
    right: -680px;
    top: 40px;
    /* padding: 50px;  */
}
h2{
text-shadow: 0px 3px 13px rgba(0,0,0,.4);
}
h3{
    font-size: 500px;

}
h5{
    font-size: 9px;
}
   
