#memory, #myInput, ul, h3{
    color: #8268f8;
    font-family: Geneva;
    font-size: 24px;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8cf343bb-5b46-4e13-880d-6f5c5156ecf1/d4no8g9-061aa226-b9e6-4650-9780-fa91b2c1acbe.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhjZjM0M2JiLTViNDYtNGUxMy04ODBkLTZmNWM1MTU2ZWNmMVwvZDRubzhnOS0wNjFhYTIyNi1iOWU2LTQ2NTAtOTc4MC1mYTkxYjJjMWFjYmUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DKsP5QrhtEIpBkKCy-NgfqAYOIabmgsjPBLFpFGYLpw")
}