head, h2 {
    text-align: center;
}
body{
    color: rgb(122, 38, 38);
    font-size: 30px;
    text-align: center;
    position: static;
    bottom: 50px;
    right: 50px;
    font-family: ArialRoundedMTBold; 
}
#myInput{
    color:rgb(180, 180, 180);
    font-size: 35px;
    font-family: Courier New;
}
#test{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: Andale Mono;
    position: static;
}
h4{
    color: #ffffff;
    font-size: 35px;
    font-family: Geneva;
}