body{
    background-image: url(http://armyblog.ru/images/000/DSC100038901.jpg);
    position: absolute;
    bottom: 20px;
    width: 100%;
}
h3,ul{
    color: #57228c;
    font-size: 27px;
    font-family: Courier New;
}
h3{
    text-decoration: underline;
}
#first, #second, #third{
    height:400px;
    width:400px;
}

