h1{
    text-decoration: underline;
    font-family: Courier New;
}
.block {
    height: 425px;
    width: 472px;
    display: inline-block;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
   }
   
   .per{
    background-color: #ccccff;
   }
   .riw{
    background-color: #9999ff;
   }
   .inkle{
    background-color: #6666ff;
   }
   .p{
    background-color: #e6ccff;
   }
   .urp{
    background-color: #ce99ff;
   }
   .le{
    background-color: #c180ff;
   }
   .gr{
    background-color: #ccffe6;
   }
   .ee{
    background-color: #99ffce;
   }
   .n{
    background-color: #80ffc1;
   }





   .pink{
    background-color: #80ff80;
   }
   .and{
    background-color: #99ff99;
   }
   .red{
    background-color: #b3ffb3;
   }
   .ye{
    background-color: #ffff33;
   }
   .ll{
    background-color:#ffff66;
   }
   .ow{
    background-color: #ffff99;
   }
   .or{
    background-color: #ff8c1a;
   }
   .an{
    background-color: #ffa64d;
   }
   .ge {
    background-color: #ffbf80;
   }





   .heyy{
    background-color: #ccffff;
   }
   .hand{
    background-color: #99ffff;
   }
   .hi{
    background-color: #66ffff;
   }
   .white{
    background-color: #cccccc;
   }
   .gray{
    background-color:#a6a6a6;
   }
   .dark{
    background-color: #737373;
   }
   .ru{
    background-color:#ff80bf;
   }
   .being{
    background-color: #ff66b3;
   }
   .serious {
    background-color:#ff3399;
   }

   .ruq{
       background-color: #b3ecff;
   }
   .aiy{
    background-color: #80dfff;
    }
    .ah{
    background-color: #4dd2ff;
    }