
  .wrapper {
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding: 4em;
    position: fixed;
    overflow-y: scroll;
  }
  
  .question {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 1em;
  }
  
  .answer:hover {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.09);
  }
  
  .endgameMessage {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 20%;
  }
  
  .answer {
    background-color: rgba(0, 0, 255, 0.05);
    border: 1px solid rgba(0, 0, 255, 0.4);
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 0.5em;
  }
  